#formLogin{
	margin: 20px;
}

.enterLogin{
	margin-top: 1%;
	line-height: 1;
}

.signInDisclaimer{
	font-size: 10px;
}

.LogInBreak{
	margin-bottom: 3%;
}

.jumbotron{
	margin-top: 8%;
	padding-top: 1%
}

.productName{
	margin-bottom: 2%;
	text-align: center;
}

.box {
  display: inline;
  margin-right:3px;
}

.productImage{
	border-radius: 25px;
	max-height: 100%;
	min-height: 80%;
	max-width: 100%;
	min-width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 2%;*/
}


.productInfo{
	margin-top: -2%;
}

.productDescription{
	margin-left: 2%;
	margin-top: -0.3%;
}

.nabIt{
	margin-top: 4%;
	text-decoration: none;
	max-width: 30%
}